.section-sm {
  padding: 40px 0 !important;
}

.rd-navbar-static .rd-nav-link {
  font-size: 14px;
}

.breadcrumbs-custom {
  padding-top: 0px !important;
  text-align: right;
}

.breadcrumbs-panel {
 padding: 5px;
}

.breadcrumbs-main {
  padding: 0 0 0 0 !important;
}

.breadcrumbs-custom-path li {
  font-size:15px;
  font-weight: 400;
}

.overlay-creative::before {
  /*background: linear-gradient(#ffc83b, #fff);*/
  background-position: right;
}

.header-top-panel {
  padding: 3px 0;
}

.rd-navbar-modern-1.rd-navbar-static:not(.rd-navbar--is-stuck), .rd-navbar {
  border-top: 3px solid #FFC83B;
  border-bottom: 3px solid #FFC83B;
}

.rd-navbar-static .rd-navbar-brand {
  min-height: 40px;
}

.rd-navbar-modern.rd-navbar-static .rd-navbar-main {
  padding: 3px 0;
}

@media only screen and (min-width: 992px) {
  .fejresz-title {
    width:77%;margin-left: 23%;padding-bottom:20px !important;padding-top:20px;
  }
  .fejresz-leiras {
    width:77%;margin-left: 23%;margin-top:0px; text-align:center;
  }
}

@media only screen and (max-width: 991px) {
  .fejresz-title {
    padding-bottom:20px !important;padding-top:20px;
  }
  .fejresz-leiras {
    margin-top:0px; text-align:center;
  }
}

@media only screen and (min-width: 992px) {
  .rd-navbar-wrap {
    height: 60px !important;
  
}
@media only screen and (max-width: 991px) {
  .rd-navbar-wrap {
  height: 6px !important;
  }
}