/* Fuggoleges menu*/

.kat_menu a {
  border-left: 3px solid #FFC83B;
  background: #E3E3E3;
  font-weight: 600;
}
ul.kat_menu ul li a {
  border-left: 3px solid #bbb;
  background: #F1F1F1;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 500;
}
ul.kat_menu ul ul li a {
  border-left: 3px solid #ededed;
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #efefef;
  background: #fff;
  font-weight: 400;
  color: #555;
}
.aktiv_kat a, .kat_menu a:hover {
  border-left: 3px solid #ff6543 !important;
  color: #ff6543 !important;
}

/* Arak - Raktaron - Nem rendelheto - Kifutott */

.product-price {
  font-size: 20px !important;
  background: none;
}
.normal-ar { 
  white-space: nowrap;
}
.akcios-ar {
  color: #CC374D;
  white-space: nowrap;
}
.akcios-regi-ar {
  background: none;
  white-space: nowrap;
}
.raktaron, .raktaron-rendelheto  {
  font-size: 16px !important;
  color: #333; 
  background: none; 
  font-weight: 500;
  padding:0px;
}
.nemrendelheto-kifutott {
  font-size: 16px !important;
}
@media only screen and (max-width: 1200px) {
  .raktaron, .raktaron-rendelheto, .nemrendelheto-kifutott  {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 992px) {
  .raktaron, .raktaron-rendelheto, .nemrendelheto-kifutott  {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 768px) {
  .raktaron, .raktaron-rendelheto, .nemrendelheto-kifutott  {
    font-size: 14px !important;
  }
}

.raktaron:before {
  content: '✔'; 
  color: #fff; 
  font-size: 14px;
  background: #4f9623; 
  border-radius: 48%;
  padding-left: 3px;
  padding-right: 2px;
  margin-right: 4px;
}
.raktaron-rendelheto:before {
  content: '✔'; 
  color: #fff; 
  font-size: 14px;
  background: #6a7f54; 
  border-radius: 48%;
  padding-left: 3px;
  padding-right: 2px;
  margin-right: 4px;
}
.nemrendelheto-kifutott:before {
  content: 'x'; 
  color: #fff; 
  font-size: 14px;
  font-weight: 600;
  background: #6C757D; 
  border-radius: 48%;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 5px;
}

/* Rendezes - Legjobb talalat */

.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-top: 5px;
  padding-bottom: 5px;
  }
.select2-container .select2-selection--single {
  height: 42px;
}


