/* Szállítási információk oldalon táblázatok */

.table {
  margin-bottom: 1rem;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.table thead th {
  border-bottom: 2px solid #dee2e6;
}

.table-bordered thead th, .table-bordered thead td {
  border-bottom-width: 2px;
}

.table th, .table td {
  padding: 0.5rem 0.75rem;
}
