@media (min-width: 1200px) {
	.header-top-panel {
	    padding: 30px 0;
	}
}
@media (min-width: 768px) {
	.header-top-panel {
	    padding: 20px 0;
	}
}
.header-top-panel {
    padding: 15px 0;
}

.header-top-panel .footer-modern-nav {
    text-transform: none;
}

.rd-navbar-static .rd-navbar-megamenu.rd-navbar-sajatmega {
    padding: 15px;
    display: block;
}

@media (min-width: 1200px) {
	.rd-navbar-static .rd-navbar-megamenu.rd-navbar-sajatmega {
	    padding: 20px;
	}
	.card-columns {
		column-count: 5;
	}
}


.rd-navbar-fixed li.opened > .rd-navbar-megamenu.rd-navbar-sajatmega {
    padding: 15px;
}

.rd-navbar-sajatmega a {
	color: #1c436d;
}

.rd-navbar-sajatmega a:hover {
	color: #ff6543;
}

@media (min-width: 1200px) {
	.heading-1 {
	    font-size: 50px;
	}

	.swiper-caption-box__subtitle {
	    font-size: 22px;
	    margin-top: 22px;
	}	
}

.rd-menu.rd-navbar-sajatmega {
    transition: 0.5s 0.5s all ease;
}

.footer-modern-panel {
    padding: 15px 0;
}

@media (min-width: 1200px) {
	.footer-modern-panel {
	    padding: 30px 0;
	}
}
@media (min-width: 768px) {
	.footer-modern-panel {
	    padding: 15px 0;
	}
}

footer .list-terms a, footer .list-terms a:focus, footer .list-terms a:active {
    color: #fff;
}

footer .list-terms a:hover, .bg-gray-13 .list-contacts a:hover {
    color: #ff6543;
}



.mobil_kat_lenyito_allando {
    display: inline;
    font-size: 23px;
    float: right;
    margin-top: -5px;
    cursor: pointer;
}

@media (max-width: 767px) {
	#kategoria_menu {
	    display: none;
	}
}

ul.kat_menu {
    font-size: 16px;
}

@media (min-width: 1200px) {
	.product-panel {
	    padding: 10px 15px;
	}
}
@media (min-width: 768px) {
	.product-panel {
	    padding: 10px;
	}
}

#kosar-darabszam:empty {
	display: none;
}

.rd-navbar-modern-1.rd-navbar-static:not(.rd-navbar--is-stuck) {
    z-index: 1000;
}

.overlay-creative:before {
    right: 78.3%;
}

.rd-navbar-modern.rd-navbar-static:before {
    right: 78.3%;
}

@media (min-width: 1500px) {
	.overlay-creative:before {
	    right: 69.7%;
	}

	.rd-navbar-modern.rd-navbar-static:before {
    	right: 69.7%;
	}
}


.rd-navbar-static.rd-navbar--is-stuck, .rd-navbar-static.rd-navbar--is-clone {
    z-index: 1030;
}

#kereso_ac_doboz {
    z-index: 1050;
    left: 0;
    right: unset;
}

.form-control:focus {
    border-color: #ffc83b;
    box-shadow: none;
}

.form-control:focus+.input-group-append > .btn {
  border-color: #ffc83b;
}

.bg-sajatv2 {
	background-color: #ffc83b;
}

.normal-ar {
	background-color: #ffe401;	
	/*margin: 0 3px 3px 0;*/
	padding: 0 7px 0 7px;
	font-size: 14px;
    font-weight: bold;
}


.akcios-ar {
	background-color: #cc374d;
    color: #fff;
	padding: 0 7px 0 7px;
	font-size: 14px;
    font-weight: bold;
}

.akcios-regi-ar {
	background-color: #e1e1e1;
	padding: 0 7px 0 7px;
	font-size: 14px;
}

.raktaron {
	background-color: #5ab622;
    color: #fff;
    padding: 0 7px 0 7px;
    font-size: 14px;
}

.raktaron-rendelheto {
    color: #fff;
    padding: 0 7px 0 7px;
    background-color: #6c757d;
    font-size: 14px;
}

@media (min-width: 992px) {
	.table-cart-link {
	    font-size: 16px;
	}
}

.table-cart-link {
	line-height: 1.1;
}

.table-cart td {
    font-size: 16px;
}

.foxpost_talalatok h5 {
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 4px;
    margin-top: 0px;
}

.foxpost_talalatok img {
    float: right;
    max-height: 36px;
}

.foxpost_talalatok h5 span {
    font-size: 13px;
    font-weight: normal;
    display: block;
    padding-top: 6px;
    margin-bottom: 4px;
}

#foxpost_valaszto input[type="radio"] {
    cursor: pointer;
    margin-right: 4px;
}

.foxpost_talalatok:last-child {
    margin-bottom: 20px;
}

.foxpost_talalatok {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 2px 12px;
    float: left;
    padding-top: 10px;
}

.table-cart tbody tr:last-child td {
    padding-bottom: 12px;
}

.table-custom.table-custom-kek thead th {
    color: #ffffff;
    background: #1c436d;
    border: 0;
}

.table-custom.table-custom-secondary thead th {
    color: #ffffff;
    background: #ffc83b;
    border: 0;
}

.kosar_kupon .form-input {
    min-height: 40px;
    padding: 6px 10px;
    font-size: 16px;
}

.ikon-kosar {
    min-width: auto !important;
    width: 5% !important;
}


@media (max-width: 768px) {
    .ikon-kosar {
        width: 20% !important;
        padding: 5px !important;
    }
}

.button-default-outline-kek, .button-default-outline-kek:focus {
    color: #1c436d;
    background-color: transparent;
    border-color: #1c436d;
}

.button-default-outline-kek:hover, .button-default-outline-kek:active, .button-default-outline-kek.active {
    color: #ffffff;
    background-color: #1c436d;
    border-color: #1c436d;
}

.button-default-kek, .button-default-kek:focus {
    color: #ffffff;
    background-color: #1c436d;
    border-color: #1c436d    
}

.button-default-kek:hover, .button-default-kek:active, .button-default-kek.active {
    color: #1c436d;
    background-color: transparent;
    border-color: #1c436d;
}

.bg-kek {
    background-color: #1c436d !important;
    color: #ffffff !important;
}

.mobil-kosar-elemek {
    font-size: 16px;
}

.tagfix_import h3 {
    font-size: 24px;
    line-height: 1.25;
    display: none !important;
}

.tagfix_import br:first-of-type {
    /*display: none;*/
}

.input-group > .input-group-append > .btn {
    border-color: #000;
}

@media (min-width: 992px) {
    .desktop .product-body::before {
        background-image: linear-gradient(#f5f5f5 0%, rgba(255, 255, 255, 0.5) 100%);
    }

    .desktop .product:hover .product-body::before {
        opacity: 1;
    }    
}

.desktop .product-description {
    padding-bottom: 15px;
}

.product-body {
    background: transparent;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    border: 1px solid #d1d1d1;
    border-radius: 0px;
    background-color: #fff;
}

.select2-dropdown {
    background-color: #fff;
}

.sidebar_term_cim {
    background-color: #313131;
    color: #fff;
}

.aktiv_kat a {
    color: #313131;
    background-color: #f5f5f5;
    border-left: 3px solid #313131 !important;
    transition: all 0.5s;
    font-weight: bold !important;
}

.kat_menu a {
    background-color: #fff;
    border-left: 3px solid #e1e1e1;
    color: #313131;
    padding: 11px 3px 10px 20px;
}

ul.kat_menu li a:hover {
    border-left: 3px solid #313131;
    font-weight: bold;
}

.szuro_mobil_title {
    border-right: 3px solid #313131;
}

@media (max-width: 767px) {
    #szuro_div {
        border-right: 3px solid #313131;
        border-bottom: 3px solid #313131;
    }
}

.kat_menu_lenyito_jel span {
    color: #ff6543;
}

.form-input, .form-control {
    background-color: #fff;
    border-radius: 0px;
}

.input-group-sm > .form-control, .input-group-sm > .input-group-append > .btn {
    border-radius: 0;
}

ul.kat_menu ul ul li a {
    padding-left: 50px;
}

ul.kat_menu ul li a {
    padding-left: 30px;
}

.lista-small {
    display: block;
    line-height: 1.5 !important;
    font-size: 12px;
}

/*
@media (min-width: 1200px) {
    .rd-navbar-static .rd-navbar-dropdown li > a {
        padding: 10px;
        text-transform: none;
    }
    .rd-navbar-static .rd-dropdown-link, .rd-navbar-static .rd-megamenu-list-link {
        font-size: 12px;
    }
    .rd-navbar-static .rd-navbar-dropdown {
        width: auto;
        min-width: 250px;
    }        
    .rd-navbar-static .rd-nav-link {
        font-size: 12px;
    }    
}
*/

.rd-navbar-static .rd-nav-link {
    font-size: 12px;
}
.rd-navbar-static .rd-navbar-dropdown li > a {
    padding: 10px;
    text-transform: none;
}
.rd-navbar-static .rd-dropdown-link, .rd-navbar-static .rd-megamenu-list-link {
    font-size: 12px;
}
.rd-navbar-static .rd-navbar-dropdown {
    width: auto;
    min-width: 250px;
} 

.rd-navbar-static .rd-navbar-dropdown .rd-navbar-dropdown {
    top: 15px;
    /*margin-top: -34px;*/
    min-height: 100%;
    transition: none;
}


.rd-navbar-static .rd-menu {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.20);
}

@media (max-width: 768px) {
    .rd-navbar-fixed-linked .swiper-container {
        min-height: calc(100vh - 56px);
    }
}

.select2-container--default .select2-results__option[aria-disabled=true] {
    cursor: not-allowed;
}

.overlay-creative:before {
    background-image: url(../images/hatter-sarga-alapra.png);
    background-repeat: repeat;
    background-size: contain;    
}

.overlay-creative:after {
    display: none;
}

.owl-style-4::before {
    border-bottom: none;
}


.tooltip .arrow::before {
    border-bottom-color: #f56543 !important;
}

.text-bold {
    font-weight: bold;
}

.tooltip-inner {
    max-width: 350px;
    /* If max-width does not work, try using width instead */
    width: 350px; 
}

.product-body .heading-6 {
    font-size: 16px;
}

.rd-navbar-fixed .rd-navbar-submenu-toggle {
    color: #ff6543;
}

.rd-navbar-fixed .rd-navbar-submenu-toggle::after {
    /*
    font: 700 20px "FontAwesome";   
    */
}

.kategoria-leiras {
    font-weight: 300;
    letter-spacing: .01em;
    text-transform: none;
    font-size: 16px;
}


.breadcrumbs-custom-path li, .breadcrumbs-custom-title, .single-product-title {
    text-transform: none !important;
}

.product-title b {
    font-weight: 500;
}

.termek_hosszu_leiras_fix h3 {
    text-transform: none;
    font-size: 24px;
}

.termek_hosszu_leiras_fix ul {
    text-align: left;
    font-weight: 400;
}

.termek_hosszu_leiras_fix ul > li {
    padding-left: 22px;
    text-indent: -22px;
}

.termek_hosszu_leiras_fix ul > li::before {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    content: '';
    top: -2px;
    width: 6px;
    height: 6px;
    margin-right: 16px;
    border-radius: 50%;
    text-indent: 0;
    background: #ff6543;
}

.termek_hosszu_leiras_fix ol {
    list-style: decimal;
    list-style-position: inside;
}

.termek_hosszu_leiras_fix ol li {
    display: list-item;
}
    

.termek_hosszu_leiras_fix h3:not(:first-child) {
    margin-top: 30px;
}

.termek_hosszu_leiras_fix h3 + p, .termek_hosszu_leiras_fix h3 + ul {
    margin-top: 10px;
}

.kat_menu li {
    position: relative;
}

.kat_menu a {
    padding: 11px 56px 10px 20px;
}

.kat_menu_lenyito_jel::after {
    content: '\f107';
    position: absolute;
    top: 0;
    right: 0;
    width: 56px;
    height: 40px;
    font: 700 20px "FontAwesome";
    text-align: center;
    transition: 0.4s all ease;
    z-index: 2;
    cursor: pointer;
    line-height: 40px;
}

.kat_menu_lenyito_jel {
    color: #ff6543;
}

.kinyitva::after {
   transform: rotate(180deg);
}

.input-group .form-control {
    border-color: #000;
}

.input-group .form-control:focus {
    border-color: #ffc83b;
}

.product.akcios-blokk {
    border-top: 2px solid #CC374D;
}

.product.akcios-blokk .product-panel::before {
    content: url(../images/akcios-ikon-metroman-2.svg);
    position: absolute;
    left: 40px;
    top: -18px;   
    z-index: 99;
    transform: scale(.5);
}

@media (min-width: 992px) {

    .product.akcios-blokk .product-panel::before {
        top: -13px;   
        z-index: 99;
        transform: scale(.7);
    } 

    .szuro_divek {
        position: relative;
    }

    .szuro_divek .belso-szuro {
      padding: 10px;
      position: absolute;
      background-color: #f5f5f5;
      border-radius: 4px;
      left: -1px;
      right: -1px;
      z-index: 100; 
      border-left: 1px solid #bbb;
      border-right: 1px solid #bbb;
      border-bottom: 1px solid #bbb;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }    
}

@media (min-width:  768px) {
    .zarva-asztal {
        display: none;
    }

    div#szuro_div {padding-top: 15px;border-top: 1px solid #bbb;}
}

.border-primary {
    border: 2px solid #ff6543;
    border-radius: 0;
}

.text-green {
    color: #27ae60;
}

.szuro_divek:first-child {
    margin-top: 0px;
}

.lapozo_sav {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.szuro_divek .belso-szuro {
    padding-top: 10px;
}

.single-product-price.akcios-szin {
    color: #CC374D;
    white-space: nowrap;
}

.tagfix_import h3 + p {
    margin-top: 0px;
}

.kiskep-fix {
    max-height: 200px;
    width: auto !important;
}

.nagykep-fix {
    max-height: 400px;
    width: auto !important;
}

.slick-product-figure {
    background: none !important;
}

@media (max-width: 767px) {
    #szuro_div .fa-chevron-down:before { 
        content: "\f077";
    }

    #szuro_div .fa-chevron-up:before {
        content: "\f078";
    }
}

.kapcs_termekek .raktaron, .kapcs_termekek .raktaron-rendelheto  {
    border: none;
}

.checkbox .checkbox-custom-dummy, .checkbox-inline .checkbox-custom-dummy {
    border: 2px solid rgba(21, 21, 21, 0.8);
}