<style type="text/css">
  .szallit-tabl td {padding: 5px 5px 10px 10px;}
  .szallit-tabl tr td {border: 0px;}
  .szallit-ikon {width: 60px; min-width: 50px; vertical-align:top;}
  #szallit-info {line-height: 1.2em; border-left: 1px solid #d1d1d1; border-right: 1px solid #d1d1d1; border-bottom: 1px solid #d1d1d1; }
  @media only screen and (max-width: 991px) {
    #szallit-info {display: none;}
  }
</style>

<div id="szallit-info">
    <div class="term_cim" style="max-width: 100%;background-color: #F5F5F5;border-top: 4px solid #FFC83B; border-bottom: 1px solid #d1d1d1; border-left: none; margin-bottom: 0;">Szállítás</div>
    <div style="padding-top: 10px; padding-bottom: 10px">
        
      <table class="table-custom szallit-tabl">
        <tr style="border-bottom: 1px solid #d1d1d1;" class="szallit-tabl">
          <td><img class="szallit-ikon" src="https://www.metroman.hu/webshop/images/gls-2023.jpg"></td>
          <td>GLS házhoz szállítás</td>
        </tr>
        <tr>
        <tr style="border-bottom: 1px solid #d1d1d1;" class="szallit-tabl">
          <td><img class="szallit-ikon" src=" https://www.metroman.hu/webshop/images/Fama_logo.webp"></td>
          <td>Fáma házhoz szállítás</td>
        </tr>
        <tr style="border-bottom: 1px solid #d1d1d1;">
          <td><img class="szallit-ikon" src="https://www.metroman.hu/webshop/images/gls-csomagpont-2023.jpg"></td>
          <td>GLS CsomagPont</td>
        </tr>
        <tr style="border-bottom: 1px solid #d1d1d1;">
          <td><img class="szallit-ikon" src="https://www.metroman.hu/webshop/images/GLS-Automata-logo.png"></td>
          <td>GLS Automata</td>
        </tr>
        <tr>
          <tr style="border-bottom: 1px solid #d1d1d1;">
          <td><img style="width: 40px; min-width: 30px; vertical-align:top;" src="https://www.metroman.hu/images/mediatar/img-1713625560334873199462.jpg"></td>
          <td>Személyes átvétel Nagykanizsán</td>
        </tr>
      </table>
      
      <div style="text-align: center; padding: 10px">
        <a href="https://www.metroman.hu/szallitasi-feltetelek" class="btn btn-primary">Szállítási info</span></a>
      </div>

    </div>
  </div>