.szuro_divek h3 {
  text-transform: none;
  padding-right: 25px;
}

.filter_box span.fa {
    position: absolute;
    right: 10px;
    top: 3px;
}

.headerFilter {
  cursor: pointer;
}

.filter_box {
  border: 1px solid #bbb;
  position: relative;
}

.lapozo_sav .button-default-outline, .button-default-outline:focus {
  color: #ff6543;
  border-color: #ff6543;
}

.lapozo_sav .button-default-outline:hover, .lapozo_sav .button-default-outline:active, .lapozo_sav .button-default-outline.active {
  color: #fff;
}