/* Termekek oldal  */

.fokat {
    border-bottom: 3px solid #FFC83B; 
    padding: 7px 10px; 
    background: #EDEDED; 
    margin-top: 15px;
  }

  .alkateg {
    padding-left: 20px; 
    border-top: 1px solid #dedede; 
    font-weight: 300;
    font-size: 16px;
  }

  .fokat a, .alkateg a {
    color:  #444;
  }

.ptag {
    font-size: 18px;
    line-height: 1.66667;
    font-weight: 400;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: none;
}

@media (min-width: 576px) {
  .ptag {
    font-size: 16px;
  }  
}

@media (min-width: 768px) {
  .ptag {
    font-size: 17px;
  }
}

@media (min-width: 992px) {
  .ptag {
    font-size: 18px;
  }
}