/* Arak */

.single-product-price {
  font-size: 30px !important;
}

/* Raktaron */

.raktaron, .raktaron-rendelheto {
  font-size: 20px !important;
}

.raktaron:before, .raktaron-rendelheto:before {
  font-size: 18px;
  padding-left: 4px;
  padding-right: 3px;
  margin-right: 6px;
}

.raktaron, .raktaron-rendelheto {
  border-bottom: 1px solid #4f9623;
}

/* Tablazatok */ 

#leiras table {
  /* width: auto !important; */
  width: 100% !important;
  max-width: 100%;
}

.table th, .table td {
 padding: 0.4rem 0.75rem;
 vertical-align: top;
 border-top: 1px solid #dee2e6;
}

/* Lapozo fulek */

  .tabs-custom .tabs-modern {
    margin-top: 20px !important;
  }

  .tabs-custom .nav-tabs {
    margin-left: 0; 
    padding-top: 10px;
    border-top: 1px solid #d1d1d1;  
  }

  .tabs-modern .nav-link {
    padding: 12px 25px; 
    border-radius: 0;
    border: 1px solid #d1d1d1;
  }

  .tabs-modern .nav-tabs > * {
    margin: 10px; 
  } 

  .nav-link {
    text-align: center;
  }


@media (min-width: 992px) {
  .tabs-modern * + .tab-content {
    margin-top: 10px;
  }
}
  
.tabs-modern .nav-link.active, .tabs-modern .nav-link:hover {
  color: #254;
  background: transparent;
  border-radius: 0;
  border: 1px solid #ff6543;  
}

.tabs-modern .nav-tabs-wrap {
  padding: 15px 0; 
  border: none;
}

.tab-content tab-content-1 {
  margin-top: 20px;
}

/* Csomag */ 
  #kapcs_div {
    padding-top: 15px; 
    padding-bottom: 15px;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 0px !important;
  }

.alert.alert-danger.alert-dismissable {
  border: 2px solid #ff6543;
}

/* Hibauzenet */

.alert-dismissable {
  border: 2px solid #ff6543; 
}